*{
    background-color: #EEEEEE;
    --font--: Arial, serif;
    --black--: #000000;
    --black2--:#404040;
    --shandow--:#F5F5F5;
    --white--:#FFFFFF;
    --cold--: #E5E1DA;
    --green--: #C8D400;
    --grey--:#cfd2d7;
    
}

body{
   background: var(--black--);
    font-family: var(--font--);  
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  
    width: 95%; /* Define a largura máxima do elemento como 700px. */
    min-width: 900px;
   
    background-color:var(--white--); /* Define a cor de fundo como branco. */
    border: 1px solid var(--cold--); /* Adiciona uma borda sólida de 1px ao redor do elemento, usando a variável bege para a cor. */
    border-radius: 10px;  /* Arredonda os cantos da borda do elemento com um raio de 10px. */
    font-family: var(--font--); 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}

/* FORMULARIO */
.formulario label{
    display: flex;
    align-content: start;
    font-family: var(--font--);
    font-size: 15px;

    
}

.formulario{
    
    display: flex;
   flex-direction: column;
    justify-content: center;
    width: 95%;
   

   background: var(--white--);
}


select{
    width: 95%;
    border-radius: 7px;
    outline: none;
    
    cursor: pointer;
   background: var(--white--);
}

.nome_sobrenome{
    width: 100%;
    /* background: var(--white--); */


}

.email_number{
    width: 60%;
    /* background: var(--white--); */

}

.cidade_estado{
    width: 35%;
    /* background: var(--white--); */

}


/* TEXTO DO CENTRO */


.text-center{
    width: 95%;
    background: var(--white--);
}

.text{
    font-family: var(--font--);
    background: var(--white--);
    font-size: 20px;
    font-weight: normal;
}

/* CARDS */

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 240px ;
    max-width: 356px;
    

    justify-content: center;
    align-items: center;
    border: var(--grey--) 1px solid;
    border-radius: 5px;
    background: transparent;
    
    
}

/* Galeria de itens */

.cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 95% ;
    min-width: 250px;

    background: var(--white--);


}

.img-style{
    width: 100%;
    background: transparent;
    max-width: 150px;
    max-height: 150px;
    transition: all 0.3s;

    &:hover{ 
        scale: 1.1;
    }
}

 /* img{
    width: 75%;
    max-width: 150px;
    max-height: 150px;
   
    background: var(--white--); 
    

}  */


label {
    background: var(--white--);
    font-family: var(--font--);
    text-align: center;
   
}

input {

    display: flex; 
   
    position: relative;
   
    line-height: 23px;
    font-size: 15px;
    padding: 10px;
    gap: 10px;
    border: none;
    
}



 
/*  BOTÕES */

.clear{
    width: 95%;
    height: 70px; 
  
    border-radius: 20px;
    background-color: var(--white--);
    border: 2px solid var(--grey--);
    font-family: var(--font--);
    font-size: 19px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.finish{
    width: 95%;
    height: 70px;
     
    border-radius: 20px;
    background-color: var(--black2--);
    color: var(--white--);
    border: 2px solid var(--black2--);
    font-family: var(--font--);
    font-size: 19px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;     
    
}

.botoes{

    width: 95%;
    display: flex;
    margin-bottom: 25px;
    background: transparent;
    gap: 25px;
  
    align-items: center;
    justify-content: center;
    
}