* {
  box-sizing: border-box;
}

:root {
  background-color: #eeeeee;
  --font: Arial, serif;
  --black: #000000;
  --black2: #404040;
  --shandow: #f5f5f5;
  --white: #ffffff;
  --cold: #e5e1da;
  --green: #c8d400;
  --grey: #cfd2d7;
  --grey2: #f1efef;
}

body {
  background: var(--grey2);

  font-family: var(--font);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%; /* Define a largura máxima do elemento como 700px. */
  min-width: 900px;
  max-width: 1600px;

  background-color: var(--white); /* Define a cor de fundo como branco. */
  border: 1px solid var(--cold); /* Adiciona uma borda sólida de 1px ao redor do elemento, usando a variável bege para a cor. */
  border-radius: 10px; /* Arredonda os cantos da borda do elemento com um raio de 10px. */
  font-family: var(--font);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 33px;
}

/* FORMULARIO */
.formulario label {
  display: flex;
  align-content: start;
  font-family: var(--font);
  font-size: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 25px;

  background: var(--white);
}

select {
  cursor: pointer;
}

.nome_sobrenome {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sobrenome {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-contato {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.email_cidade {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cidade {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number_estado {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}

.phone {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.estado {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  display: flex;
  width: 100%;
  height: 55px;
  background-color: var(--grey);
  border-radius: 12px;
  opacity: 0.9;
  border: none;
  padding: 8px;
}

/* TEXTO DO CENTRO */

.text-center {
  width: 95%;
  background: var(--white);
}

.text {
  font-family: var(--font);
  background: var(--white);
  font-size: 20px;
  font-weight: normal;
}

/* CARDS */

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 240px;
  max-width: 356px;

  justify-content: center;
  align-items: center;
  border: var(--grey) 1px solid;
  border-radius: 5px;
  background: transparent;

  gap: 24px;
}

/* Galeria de itens */

.cont {
  display: grid;
  grid-template-columns: repeat(4, 356px);
  gap: 10px;
  width: 100%;
  min-width: 250px;
  justify-content: space-between;

  background: var(--white);
}

.img-style {
  width: 100%;
  background: transparent;
  max-width: 150px;
  max-height: 150px;
  transition: all 0.3s;

  &:hover {
    scale: 1.1;
  }
}

label {
  background: var(--white);
  font-family: var(--font);
  text-align: center;
  gap: 15px;
}

.checkbox-input {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*  BOTÕES */

.clear {
  width: 95%;
  height: 70px;

  border-radius: 20px;
  background-color: var(--white);
  border: 2px solid var(--grey);
  font-family: var(--font);
  font-size: 19px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.finish {
  width: 95%;
  height: 70px;

  border-radius: 20px;
  background-color: var(--black2);
  color: var(--white);
  border: 2px solid var(--black2);
  font-family: var(--font);
  font-size: 19px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.botoes {
  width: 95%;
  display: flex;
  margin-bottom: 25px;
  background: transparent;
  gap: 25px;

  align-items: center;
  justify-content: center;
}
